<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
    	<!--Database connection properties --- DriverClassName, url, username, password -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernate</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>

		<!--Connection pool size -->
		<property name="hibernate.connection.pool_size">1</property>

		<property name="hibernate.connection.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>

		<mapping class="org.o2.registersvc.entities.AccountDetails" />
		<mapping class="org.o2.registersvc.entities.ChannelDetails" />
		<mapping class="org.o2.registersvc.entities.ClientDetails" />
		<mapping class="org.o2.registersvc.entities.CustomerDetails" />
	</session-factory>
</hibernate-configuration>
